{% extends 'shared/layout.html' %}
{% load static %}

{% block main_content %}

    {% block content %}{% endblock %}
       <div id="popupCreateTradeAccountForm" class="form-popup">
<form class="form-container" id="createTradeAccountForm">
    <h2>Create Trade Account</h2>
    <div id="errorlist"></div>
      <div id="create_input_place"></div>
    <div class="button-container">
      <button type="submit" class="btn info">Submit</button>
      <button type="button" class="btn danger" id="CreateBtnCancel">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}



{% block extra_header_refrences %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
    {% block this_page_header_refrences %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}


{% block extra_footer_refrences %}
    <script src="{% static 'assets/js/ajax/ajaxSetup.js' %}"></script>
    <script src="{% static 'assets/js/ajax/createTradeAccount.js' %}"></script>
    {% block this_page_footer_refrences %}{% endblock %}
{% endblock %}