
<div class="overview-container">
				<div class="left">
					<h2>trading objectives</h2>

					<div class="objects-boxes">
						<div class="tr-day hover-effect">
							<p>minimum trading days</p>
							<div class="min-day-box">
								<p>minimum</p>
                                <span class="min-day"><span id="minimum_trading_days">--</span> days</span>
							</div>
							<div class="current-result-box">
								<p>current result</p>
								<span class="current-result"><span id="days_traded">--</span> days</span>
							</div>
							<span class="condition" id="trade_info"></span>
						</div>

						<div class="daily-loss-limit hover-effect">
							<p>daily loss limit</p>
							<div class="daily-loss-box">
								<p>max. loss</p>
								<span class="max-loss"><span id="daily_loss_limit">--</span></span>
							</div>
							<div class="max-loss-recorded-box">
								<p>max. loss recorded</p>
								<span class="max-loss-recorded"><span id="daily_loss_recored">--</span></span>
							</div>
							<span class="condition" id="daily_loss_limit_info"></span>
						</div>

						<div class="overall-loss-limit hover-effect">
							<p>overall loss limit</p>
							<div class="overall-loss-box">
								<p>max. loss</p>
								<span class="max-loss"><span id="overal_loss_limit">--</span></span>
							</div>
							<div class="max-loss-recorded-box">
								<p>max. loss recorded</p>
								<span class="max-loss-recorded"><span id="max_loss_record">--</span></span>
							</div>
							<span class="condition"id="overal_loss_limit_info"></span>
						</div>

						<div class="profit-target hover-effect">
							<p>profit target</p>
							<div class="min-box">
								<p>minimum</p>
                                <span class="min-target"><span id="profit_target">--</span></span>
							</div>
							<div class="current-target-box">
								<p>current result</p>
                                <span class="current-result"><span id="current_profit">--</span></span>
							</div>
							<span class="condition" id="target_profit_info"></span>
						</div>
					</div>
				</div>

				<div class="right">
					<table>
						<tbody><tr>
							<th>Details Stats</th>
						</tr>
						<tr class="edit-tr">
							<td>equity</td>
							<td>
                                <span id="detail_equity">--</span>
							</td>
						</tr>
						<tr class="edit-tr">
							<td>balance</td>
							<td>
								<span id="detail_balance">--</span>
							</td>
						</tr>
						<tr class="edit-tr">
							<td>avg. winning trade</td>
							<td><span id="detail_winning">--</span></td>
						</tr>
						<tr class="edit-tr">
							<td>avg. losing trade</td>
							<td><span id="detail_losing">--</span></td>
						</tr>
						<tr class="edit-tr">
							<td>trades</td>
                            <td><spans id="total_trades">--</spans></td>
						</tr>
						<tr class="edit-tr">
							<td>win rate</td>
							<td><span id="detail_win_rate">--</span>%</td>
						</tr>
						<tr class="edit-tr">
							<td>Average R/R</td>
							<td><span id="average_r_r">--</span></td>
						</tr>
					</tbody></table>
				</div>
			</div>